/* _content/BoardGameUI/Pages/BoardGameView.razor.rz.scp.css */
.rating-display[data-value="8"][b-440s0nai3h],
.rating-display[data-value="9"][b-440s0nai3h],
.rating-display[data-value="10"][b-440s0nai3h] {
    font-weight: bold;
    color: #49beb7;
}

.rating-display[data-value="6"][b-440s0nai3h],
.rating-display[data-value="7"][b-440s0nai3h] {
    font-weight: bold;
    color: #facf5a;
}

.rating-display[data-value="0"][b-440s0nai3h],
.rating-display[data-value="1"][b-440s0nai3h],
.rating-display[data-value="2"][b-440s0nai3h],
.rating-display[data-value="3"][b-440s0nai3h],
.rating-display[data-value="4"][b-440s0nai3h],
.rating-display[data-value="5"][b-440s0nai3h] {
    font-weight: bold;
    color: #ff5959;
}

.auto-size[b-440s0nai3h] {
    display: inline-block;
    padding: 5px;
}
/* _content/BoardGameUI/Shared/MainLayout.razor.rz.scp.css */
.page[b-fkzjzhlk6t] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-fkzjzhlk6t] {
    flex: 1;
}

.sidebar[b-fkzjzhlk6t] {
    background-image: linear-gradient(180deg, rgb(5, 79, 70) 0%, #3a9697 20%);
}

.top-row[b-fkzjzhlk6t] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-fkzjzhlk6t]  a, .top-row .btn-link[b-fkzjzhlk6t] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-fkzjzhlk6t] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-fkzjzhlk6t] {
        display: none;
    }

    .top-row.auth[b-fkzjzhlk6t] {
        justify-content: space-between;
    }

    .top-row a[b-fkzjzhlk6t], .top-row .btn-link[b-fkzjzhlk6t] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-fkzjzhlk6t] {
        flex-direction: row;
    }

    .sidebar[b-fkzjzhlk6t] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-fkzjzhlk6t] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-fkzjzhlk6t], article[b-fkzjzhlk6t] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/BoardGameUI/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-fj94yprvwa] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-fj94yprvwa] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-fj94yprvwa] {
    font-size: 1.1rem;
}

.oi[b-fj94yprvwa] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-fj94yprvwa] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-fj94yprvwa] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-fj94yprvwa] {
        padding-bottom: 1rem;
    }

    .nav-item[b-fj94yprvwa]  a {
        color: #f0ffff;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-fj94yprvwa]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-fj94yprvwa]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-fj94yprvwa] {
        display: none;
    }

    .collapse[b-fj94yprvwa] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-fj94yprvwa] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
