.rating-display[data-value="8"][b-440s0nai3h],
.rating-display[data-value="9"][b-440s0nai3h],
.rating-display[data-value="10"][b-440s0nai3h] {
    font-weight: bold;
    color: #49beb7;
}

.rating-display[data-value="6"][b-440s0nai3h],
.rating-display[data-value="7"][b-440s0nai3h] {
    font-weight: bold;
    color: #facf5a;
}

.rating-display[data-value="0"][b-440s0nai3h],
.rating-display[data-value="1"][b-440s0nai3h],
.rating-display[data-value="2"][b-440s0nai3h],
.rating-display[data-value="3"][b-440s0nai3h],
.rating-display[data-value="4"][b-440s0nai3h],
.rating-display[data-value="5"][b-440s0nai3h] {
    font-weight: bold;
    color: #ff5959;
}

.auto-size[b-440s0nai3h] {
    display: inline-block;
    padding: 5px;
}