@inherits LayoutComponentBase

<PageTitle>Board Game Wish List</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://boardgamegeek.com/" target="_blank">Board Game Geek</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
